<html>
<head>
    <title>Courses</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../../static/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../../../static/Css/courses.css">
</head>
<body>
<!--------------Main--------------------->
    <div id="header"></div>
    <div id="products"></div>
    <div id="shopping"></div>
<!-----------Constants------------------->
<script src="../../../static/Constants/catalog.js"></script>
<script src="../../../static/Constants/root.js"></script>
<!-----------------Utilits--------------->
<script src="Utilits/Utilits.js"></script>
<!------------JS------------------------->
    <script src="/Components/Header/Header.js"></script>
    <script src="/Components/Products/Products.js"></script>
    <script src="/Components/Shopping/Shoppping.js"></script>
<!------------CSS------------------------>
    <link rel="stylesheet" href="/Components/Header/Header.css">
    <link rel="stylesheet" href="/Components/Products/Products.css">
    <link rel="stylesheet" href="/Components/Shopping/Shopping.css">
<!--------------------------------------->

</body>
</html>
