<html>
    <head>
       <title>Soft Pedia</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../../../static/images/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="../../../static/Css/style.css">
    </head>
    <body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <p class="word">Soft Pedia</p>
                <nav class="nav">
                 <a class="nav_link" href="reg">registration</a>
                 <a class="nav_link" href="">Python</a>
                 <a class="nav_link" href="courses">Courses</a>
                 <a class="nav_link" href="me">me</a>
                </nav>
            </div>
        </div>
    </header>
        <div class="wrapper">
            <div class="full_screen">
                <div class="full_screen_body">
                    <div class="full_screen_title">Soft Pedia</div>
                    <div class="full_screen_text">this website created to teach
                    <br>people basics of programming</div>
                </div>
                <video autoplay muted loop preload="auto" class="full_screen_video">
                    <source type="video/mp4" src="../../../static/images/video.mp4">
                </video>
            </div>
            <footer>
               <div class="content">
                <div class="content_container">
                    <p>Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the bestMagzhan is the bestMagzhan is the bestMagzhan is the bestMagzhan is the bestMagzhan is the bestMagzhan is the bestMagzhan is the bestMagzhan is the bestMagzhan is the bestMagzhan is the bestMagzhan is the bestMagzhan is the best</p>
                </div>
               </div>
            </footer>
        </div>
</body>
</html>
