<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../../static/Css/me.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../../../static/images/favicon.ico" type="image/x-icon"/>
    </head>
    <body>
       <div class="solid">
       <p>
         <script>
            var bleep = new Audio();
            bleep.src = "sounds/bleep.mp3"
            </script>
            <input class="btn" type="button" name="click" value="click" onclick="bleep.play()">
       </p>
   </div>
        <section>
            <div class = "image">
            </div>
            <div class = "content">
                <h2>About Me</h2>
                <span></span>
                <p>Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best Magzhan is the best</p>

                <ul class = "links">
                    <li><a href = "https://www.ycloud.com">work</a></li>

                    <div class = "vertical-line"></div>

                    <li><a href = "https://www.instagram.com/shelkonty/">Instagram</a></li>
                </ul>
                <ul class = "icons">
                    <li>
                        <a href="https://www.twitch.tv/settings/profile"><i class = "twitch"><ion-icon name="logo-twitch"></ion-icon></i></a>
                    </li>
                    <li>
                        <a href="https://vk.com/shelkonty"><i class = "vk"><ion-icon name="logo-vk"></ion-icon></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/Shelkonty"><i class = "github"><ion-icon name="logo-github"></ion-icon></i></a>
                    </li>
                    <li>
                        <i class = "pinterest"></i>
                    </li>
                </ul>
            </div>
        </section>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
